*.pyc
*.swp
*.swo
*.xml
*.egg-info
.venv
.idea/
venv
.DS_store
.coverage
.vscode
build/*
dist/*
logs/*
schemas/*
tables/*
.python-version
.mypy_cache
__pycache__/
pg-compare/*.so
pg-compare/*.h
pg-compare/*.dll
pgbelt/*.so
pgbelt/*.h
pgbelt/*.dll
