name: Release to pypi

on:
  release:
    types: [released]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 2
      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version
      - name: Install Poetry
        run: |
          pip install --constraint=.github/workflows/constraints.txt poetry poetry-dynamic-versioning
          poetry --version

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Install dependencies
        run: |
          cd pg-compare && go mod tidy

      - name: Build the project for all platforms
        run: |
          cd pg-compare && set -e \
          && go mod download \
          && for GOOS in linux darwin windows; do \
              for GOARCH in amd64 arm64; do \
                  EXT="so"; \
                  [ "$GOOS" = "windows" ] && EXT="dll"; \
                  go build -o "pgcompare_${GOOS}_${GOARCH}.${EXT}" -buildmode=c-shared main.go; \
                  cp "pgcompare_${GOOS}_${GOARCH}.${EXT}" ./../pgbelt/
              done; \
          done;
      - name: Build package
        run: |
          poetry build --ansi
      - name: Publish package on PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          user: __token__
          password: ${{ secrets.PGBELT_PYPI_VJEEVA_TOKEN }}
